#contact{
    background-color: white;
    height: 180vh;
    display: flex;
    flex-direction: column;    
    text-align: center;  
    height: 110vh; 
    color: rgb(97, 97, 97)
}

.form-box{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid #5C15CC;
    margin-top: 10%; 
    display: flex;
    text-align: left;
}

.form-contact{    
    width: 50%; 
    padding: 5%;   
}

.form-write-me{       
    width: 50%;
    padding: 5%; 
}

.contact-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(73, 73, 73);
}

.contact-description{
    font-size: 1rem;
    margin: 5% 0;
}

.contact-social{    
    margin-left: 3%;
    font-size: 1rem;    
    list-style: none;
}
.social-media{
    margin-top: 5%;    
}
.social-media-icon{
    font-size: 1.1rem;
    color:#68CBFF;
    margin-right: 5px;
    border-radius: 100px;
    padding: 10px 10px;
    transition: .2s ease all;
}

.social-media-link{
    text-decoration: none;
    transition: .2s ease all;
    color: rgb(97, 97, 97)
}

.social-media:hover .social-media-icon{
    background-color: #1E91C4;
}
.social-media:hover .social-media-link{
    color: #1E91C4;
}

/*Formulario*/

.contact-form{
    width: 100%;
    display: flex;     
}

.contact-form-name{    
    display: flex;    
    justify-content: space-between;   
}

.contact-form-email, .contact-form-message{
    display: flex;
    flex-direction: column;    
}

.form-name, .form-lastname{
    display: flex;
    flex-direction: column;    
}

.form-label{
    margin-bottom: 2%;
    font-weight: bold;
}

#user-name, #user-lastname, #user-email, #user-message{
    padding: 10px;
    background-color: #e9f7ff;      
    border-radius: 18px;
    outline: none;
    resize: none;
    overflow: hidden;
    border: none;  
    margin-bottom: 2%;
}

#user-name{
    margin-right: 10px;
}

.contact-form-button{
    margin-top: 5%;
    width: 25%;
    font-size: 1rem;
    background-color: #5C15CC;
    color: white;
    border: none;
    padding: 10px;    
    border-radius: 30px;
    transition: .3s ease all;
}

.contact-form-button:hover{
    box-shadow: 0px 0px 21px 4px rgba(128,37,254,0.6);    
    outline: none;
    cursor: pointer;
}

input:valid, textarea:valid{
    box-shadow: 0 0 6px 0 rgb(65, 177, 45);
    transition: .3s ease all;
} 

input:invalid, textarea:invalid{
    box-shadow: 0 0 6px 0  rgba(128,37,254);
} 

/*Fin formulario*/

/*Inicio media queries */

@media(max-width: 1100px){

    .form-box{
        width: 75%;
    }

    #contact{
        height: auto;
        margin-bottom: 50px;
    }
    .contact-description, .social-media-link, .form-label{
        font-size: 0.85rem;
    }
    
    .social-media-icon{
        font-size: 1rem;        
    }    

    #user-name, #user-lastname, #user-email, #user-message{
       width: 100%;        
    }     

    .form-lastname{   
        margin-right: -15px;
    }

    #user-name, #user-lastname{     
        width: 90%;        
    }    

    .contact-form-button{
        font-size: 0.9rem;
    }

    .contact-form-button:hover{
        font-size: 0.9rem;       
    }
}


@media(max-width: 850px){   
    .social-media-link, .social-media-icon{        
        font-size: 0.75rem;
    }    

    .contact-form-button{
        font-size: 0.8rem;        
    }

    .contact-form-button:hover{
        font-size: 0.8rem;       
    }

    .contact-description{
        font-size: 0.9rem;
    }    

    .contact-title{
        font-size: 2.3rem;
    }
}

@media(max-width: 750px){
    .form-box{ 
        display: flex;
        flex-direction: column;        
        align-items: center;
        text-align: center;
    }

    .form-contact{       
        width: 100%;
    }

    .social-media-link, .social-media-icon{        
        font-size: 0.9rem;
    }

    .form-write-me{       
        width: 100%;        
    }

    .contact-form{        
        display: flex;
        flex-direction: column;
        margin-top: 20px;        
        justify-content: center;        
    }

    .form-name, .form-lastname{    
        display: flex;
        align-items: center;        
        width: 100%;       
    }

    #user-name{
        margin-right: 25px;
    }
}

@media(max-width: 400px){
    .contact-title{
        font-size: 2rem;
    }

    .contact-form-button{
       font-size: 0.65rem; 
    }    
}

/*Fin media queries */