*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --lightblue: #68CBFF;
    --blue: #1E91C4;
    --skyblue: #e9f7ff;
    --lightpurple: #8025FE;
    --purple: #5C15CC;
    --gray: #4E4E4E;
    --white: #fff;
    --backgroundblue: rgba(104,203,255,0.1);
    --green: #41b12d
}

.header{
    background-color: var(--white);
    box-shadow: 0px 20px 25px 0px rgba(204,204,204,0.5);
    padding: 2%;    
    position: fixed;    
    width: 100vw;
}

.navigation-menu{
    display: flex;    
    justify-content: flex-end;          
}

.menu-sections{       
    margin: 0 2%;
    display: flex;    
    line-height: 2.5;    
}

.menu-sections-link{    
    font-size: 1rem;    
    padding: 5px 20px; 
    border-radius: 100px;    
    background: linear-gradient(145deg, rgba(104,203,255,1) 0%, rgba(128,37,254,1) 100%);
    color: var(--white);      
    transition: .3s ease all;
    text-decoration: none;
    color: var(--white);
}

.menu-sections-link:hover{       
    font-size: 1rem;    
    padding: 5px 20px;      
    border-radius: 100px;    
    background: linear-gradient(145deg, rgba(104,203,255,1) 0%, rgba(128,37,254,1) 100%);
    color: var(--white);
    box-shadow: 0px 0px 21px 4px rgba(104,203,255,0.6); 
    cursor: pointer;         
}

/*menu burger*/

#btn-menu{
    display: none; /*desaparece el checkbox*/
}

#label-icon{
    display: none;
    color: var(--purple);
    width: 27px;
    font-size: 30px;
    /* padding: 10px; */
}

#label-icon:hover{
    display: block;
    color: var(--lightpurple);
    width: 27px;
    font-size: 30px;
    /* padding: 10px; */
    cursor: pointer;
}

/*fin menu burger*/

/*Inicio media queries */

@media (max-width: 1100px){

    .header{
        position: relative;       
        box-shadow: none; 
    }

    #label-icon{
        display: block;
    }

    .navigation-bar{
        position: absolute;
        background-color: var(--lightblue);
        margin-left: -70%;
        transition: all 0.5s;
    }

    .navigation-menu{
        flex-direction: column;
    }
    

    #btn-menu:checked ~ .navigation-bar{
        margin: 0;
    }

    .menu-sections-link{
        background: none;       
    }

    .menu-sections-link:hover{
        background: none;  
        color: var(--blue);             
    }
}

/*Fin media queries */