#hello{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;     
}

.hello-text{       
    margin-left: 3%;
    margin-top: 6%;       
    /* margin-bottom: 13%; */
    width: 38%;
    /* background-color: red; */
}

.hello-greeting{    
    font-size: 2rem;
    font-weight: 900;
    color: var(--gray);    
}

.hello-title{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    color: var(--purple);
}

.hello-description{    
    font-size: 1.3rem;
    color: var(--gray);   
}

.hello-button{
    text-decoration: none;
    color: var(--white);
}

.hello-button-link{    
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);   
    background: linear-gradient(145deg, rgba(104,203,255,1) 0%, rgba(30,145,196,1) 100%);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 50px;  
    outline:none;  
    transition: .3s ease all;
}

.hello-button-link:hover{    
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);   
    background: linear-gradient(145deg, rgba(104,203,255,1) 0%, rgba(30,145,196,1) 100%);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 21px 4px rgba(104,203,255,0.6); 
    cursor: pointer; 
    outline:none;
}

.hello-image-box{    
    width: 38%;
    margin-right: 3%;      
    margin-top: 6%;
}

/*Inicio media queries */

@media(max-width: 1100px){   

    #hello{
        display: flex;
        justify-content: center;
        align-items: center;   
        flex-direction: column;   
        margin-top: 100px;     
    }

    .hello-text{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .hello-greeting{
        display: flex;
        justify-content: center;        
        width: 100vw; 
        font-size: 2em;      
    }

    .hello-title{
        font-size: 4em;        
        display: flex;
        justify-content: center;        
        width: 100vw;          
    }

    .hello-description{
        font-size: 1em;        
        width: 100vw;
        text-align: center;
        margin-top: 5%;       
    }

    .hello-button{
        display: flex;
        justify-content: center;        
        width: 100vw;        
    }

    .hello-button-link{        
        width: 200px;
        font-size: 1em;             
    }

    .hello-button-link:hover{
        width: 200px;
        font-size: 1em;    
    }

    .hello-image{        
        width: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column;      
    }

    .hello-image-box{     
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;      
        width: 100%;
        margin: 60px 0;           
    }
}

@media(max-width: 600px){
    .hello-title{        
        text-align: center;
        font-size: 3rem;
        width: 90%;            
    }

    .hello-description{    
        font-size: 0.95rem;           
        width: 90%; 
    }
}

@media (max-width: 500px){
    .hello-image{        
        width: 90%;
    }
}