#hello{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.hello-text{       
    margin-left: 3%;
    margin-top: 6%;       
    width: 38%;
}

.hello-greeting{    
    font-size: 2em;
    font-weight: 900;
    color: rgb(78, 78, 78);    
}

.hello-title{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #5C15CC;
}

.hello-description{    
    font-size: 1.3em;
    color: rgb(78, 78, 78);    
}

.hello-button{
    text-decoration: none;
    color: white;
}

.hello-button-link{    
    font-size: 1.5em;
    font-weight: 400;
    color: white;    
    background: linear-gradient(145deg, rgba(104,203,255,1) 0%, rgba(30,145,196,1) 100%);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 50px;  
    outline:none;  
    transition: .3s ease all;
}

.hello-button-link:hover{    
    font-size: 1.5em;
    font-weight: 400;
    color: white;    
    background: linear-gradient(145deg, rgba(104,203,255,1) 0%, rgba(30,145,196,1) 100%);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 21px 4px rgba(104,203,255,0.6); 
    cursor: pointer; 
    outline:none;
}

.hello-image-box{    
    width: 38%;
    margin-right: 3%;      
    margin-top: 6%; 
}

@media(max-width: 360px){   

    #hello{
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    .hello-greeting{
        display: flex;
        justify-content: center;        
        width: 90vw;
    }

    .hello-title{
        font-size: 2.6em;        
        display: flex;
        justify-content: center;        
        width: 94vw;       
    }

    .hello-description{
        font-size: 1em;        
        width: 94vw;
        text-align: center;
        margin-top: 20%;       
    }

    .hello-button{
        display: flex;
        justify-content: center;        
        width: 94vw;        
    }

    .hello-button-link{        
        width: 70vw;
        font-size: 1em;             
    }

    .hello-button-link:hover{
        width: 70vw;
        font-size: 1em;    
    }

    .hello-image-box{        
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-right: 43vw;      
        margin-top: 160%;       
    }
}