#knowledge{
    background-color: var(--backgroundblue);    
    display: flex;
    flex-direction: column;    
    text-align: center;   
    color: #4E4E4E;
}

.know-title{
    font-size: 2.8rem;
    margin-top: 10%;    
}

.know-description{
    font-size: 1.1rem;    
    width: 30%;   
    margin: 2% auto;
}

.know-boxes{    
    width: 60%;   
    margin: auto;
    display: flex;
    flex-wrap: wrap;   
    margin-bottom: 50px;  
}

.know-box{
    background-color: var(--white);
    width: 30%;  
    margin: 1.5% 1.5%;
    border-radius: 5%;  
    border: 5px solid var(--purple);
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
}

.know-box:hover{
    background-color: var(--white);
    width: 30%;  
    margin: 1.5% 1.5%;
    border-radius: 5%;  
    border: 5px solid var(--lightblue);
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
}

.know-box-icon{
    width: 40%;
    margin: auto;
}

.know-box-title{
    font-size: 1.3rem;
    margin-top: 8%;
    font-weight: 600;
}

/*Inicio media queries */

@media(max-width: 1100px){
    #knowledge{
        height: auto;
        margin-top: 8%;
    }   

    .know-description{
        width: 45vw;
    }

    .know-boxes{    
        width: 60%;   
        margin: 30px auto;           
    }

    .know-box{        
        width: 30%;         
    }

    .know-box-title{
        font-size: 1.1rem;      
    }
}

@media(max-width: 600px){        
    .know-boxes{        
        width: 75%;
    }

    .know-box{        
        width: 47%;         
    }

    .know-box:hover{        
        width: 47%;         
    }  
    
    .know-description{
        font-size: 1rem;    
        width: 60%;
    }
}


@media (max-width: 450px){
    .know-title{
        font-size: 2.5rem;          
    }    

    .know-box-title{
        font-size: 0.85rem;
    }
}

/*Fin media queries */