#proyects{
    background-color:var(--backgroundblue);   
    display: flex;
    flex-direction: column;    
    text-align: center;    
    color: var(--gray); 
}

.proyects-title{
    font-size: 2.8rem;
    margin-top: 10%; 
}

.proyects-description{
    font-size: 1.1rem;    
    width: 30%;   
    margin: 2% auto;    
}

.proyects-boxes{
    width: 70%;   
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 50px;
}

.proyects-box{
    background-color: var(--white);
    width: 30%;  
    margin: 1.5% 1.5%;
    border-radius: 5%;  
    border: 5px solid var(--purple);
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
}

.proyects-box:hover{
    background-color: var(--white);
    width: 30%;  
    margin: 1.5% 1.5%;
    border-radius: 5%;  
    border: 5px solid var(--lightblue);
    display: flex;
    flex-direction: column;
    padding: 5% 1%;
}

.proyects-box-title{
    font-size: 1.1rem;
    margin-top: 5%;    
}

.proyect-image{
    width: 50%;
    margin: auto;
}

/*Inicio media queries */

@media(max-width: 1100px){
    #proyects{
        height: auto;        
    }

    .proyects-boxes{         
        margin: 30px auto;    
    }

    .proyects-description{
        width: 45vw;
    }
}

@media(max-width: 600px){

    .proyects-boxes{        
        width: 75%;
    }

    .proyects-box{        
        width: 47%;          
    }   

    .proyects-box:hover{        
        width: 47%;          
    }   

    .proyects-description{
        font-size: 1rem;    
        width: 60%;
    }

    .proyects-box-title{
        font-size: 1rem;          
    }
}

@media (max-width: 450px){
    .proyects-title{
        font-size: 2.5rem;          
    }   
    
    .proyects-box-title{
        font-size: 0.85rem;          
    }
}

/*Fin media queries */