#quote{
    background-color: #8025FE;
    display: flex;
    flex-direction: column;   
    text-align: center;
}

.quote-box{    
    margin: 7%;
}

.quote-icon{
    width: 5%;      
}

.quote-text{
    font-size: 1.6em;
    font-style: italic;    
    width: 60%;
    margin: 3% auto;
    color: white; 
}

.quote-author{
    font-size: 2em;
    font-weight: bold;
    color: white;       
}
