#quote{
    background-color: #8025FE;
    display: flex;
    flex-direction: column;   
    text-align: center;
}

.quote-box{    
    margin: 7%;
}

.quote-icon{
    width: 5%;      
}

.quote-text{
    font-size: 1.6rem;
    font-style: italic;    
    width: 60%;
    margin: 3% auto;
    color: white; 
}

.quote-author{
    font-size: 2rem;
    font-weight: bold;
    color: white;       
}

@media(max-width: 800px){
    .quote-text{
        font-size: 1.4rem;
    }

    .quote-author{
        font-size: 1.8rem;
    }
}

@media(max-width: 600px){
    .quote-text{
        font-size: 1.2rem;
    }

    .quote-author{
        font-size: 1.6rem;
    }
}

@media(max-width: 400px){
    .quote-text{
        font-size: 1rem;
    }

    .quote-author{
        font-size: 1.4rem;
    }
}